<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/cadastro.css">
</head>
<body>

    <header>
        <section>

            <article>

              <p><strong>Leboncoin</strong></p>  
              <p><a href="">conenxion</a></p>
              <p><a href="">ajouter</a></p>
              
            </article>

        </section>
    </header>

    <main>
        <section>
            <article>
                


            </article>
        </section>
    </main>




</body>        

        