<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/home.css">
</head>
<body>

    <header>
        <section>
            <article>
              <p><strong>Leboncoin</strong></p>  
              <p><a href="">conenxion</a></p>
              <p><a href="">ajouter</a></p>
              

            </article>
        </section>

    </header>

    <main>

        <section>
            <article>
                <p><a href="">Voiture Elegance</a></p>
                <p><a href="">Voiture Sportive</a></p>
            </article>
        </section>

        <!-- daqui para Cima copi e paste  -->

        <section>

            <!-- <?php if(!empty($anuncio)) : ?>
              <?php foreach($anuncios as $anuncio) : ?>

                <article>

                    <p><?=anuncio($name) ?></p>
                    <p><?=anuncio($descricao) ?></p>

                </article>

              <?php endforeach; ?> 
            <?php else : ?> 
                <p> Não há anúncios para exibir porfavor inserir anuncio</p>

            <?php endif; ?>  -->

        </section>
    </main>
    
</body>
</html>